.current_weather {
    margin-bottom: 2%;
    width: 90%;
}

.current_weather_content {
    min-height: 300px;
    min-width: 400px;
}

.empty_result_text {
    text-align: center;
    font-size: 32px;
}